[Unit]
Description=Non-Graphic Feedback Daemon
Requires=dbus.socket
After=pre-user-session.target

[Service]
ExecStart=/usr/bin/ngfd
Restart=always

[Install]
WantedBy=user-session.target
